<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoplifting Detection</title>
    <link rel="stylesheet" href="/templates/liveDemo.css" />
  </head>

  <body>
    <!-- <div class="stream-title">
      <h1>Live Shoplifting Detection Stream</h1>
    </div> -->
    <div>
      <!-- <div>
        <video id="video" playsinline autoplay></video>
        <canvas id="canvas"></canvas>
      </div> -->
      <button id="show-warning-btn">press</button>
      <p class="status">Checking...</p>
      <p>alooooooooooooooo</p>
      <input type="checkbox" id="popup-check-box" />
    </div>

    <div class="popup-container">
      <!-- <label for="popup" class="overlay"></label> -->
      <div class="popup-boxx">
        <header>Warning!!!</header>
        <p class="popup-contentt">There is Shoplifting Detected</p>
        <div class="btn-controllerr">
          <label class="show-warning" for="popup-check-box">Okay</label>
        </div>
      </div>
    </div>
  </body>
  <script src="/templates/liveDemo.js"></script>
</html>
